</div>
<footer role="contentinfo">
	<p>
		<i class="fa-solid fa-code" aria-hidden="true"></i>
		Built with Node.js &amp; Express &nbsp;&bull;&nbsp;
		<i class="fa-solid fa-heart" aria-hidden="true"></i>
		Made for Web Development
	</p>
</footer>

<script src="/js/main.js"></script>
</body>

</html>