<%- include('partials/top') %>
<main>
  <h1>Welcome to My Website</h1>
  <p>This page will soon show a list of links to blog posts that I have written (in markdown files)</p>
</main>
<%- include('partials/bottom') %>